* {
    margin: 0;
    box-sizing: content-box;
}

html{
    background-color:#EB1414;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

#jeu{
    position: absolute;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    padding: 20px;
    background-color:#882727 ;
    width:600px;
    height: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 300px;
    border-radius: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -8px;
    font-family: "Road Rage";
}

.titre{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 40px;
    font-family:'Merriweather' ;
    text-align: center;
}

.text{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    font-family:'Merriweather' ;
}

img, video {
    position: absolute;
    bottom: 110px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    height: 300px;
    border: solid 3px black;
}

  @font-face {
    src: url("../polices/Road_Rage.otf") format("opentype");
    font-family: "Road Rage";
  }

  @font-face {
    src: url("../polices/Merriweather-Regular.ttf") format("truetype");
    font-family: "Merriweather";
  }

/* sources des bouttons: https://copy-paste-css.com*/
.bouton-1{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #A9A4A4;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
}



.bouton-2 {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #A9A4A4;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
}
.bouton-1:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

.bouton-2:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}

.boutons-3{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #A9A4A4;
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
    
}

.boutons-3:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
    
}

.boutons{
    position: absolute;
    bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 90%; 
}

button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #A9A4A4;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }
}

button:hover{
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
    
}